<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Document</title>
  </head>
  <body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi enim, cum
    tenetur quaerat qui sit nostrum culpa cumque ea provident minima distinctio
    optio iste nemo itaque omnis eius. Odio, harum?
  </body>
  <script src="{% static 'ch62/color.js' %}"></script>
  <script src="{% static 'ch62/script.js' %}"></script>
</html>
